<% provide(:title, t("title.home")) %>
<h1><%t("title.sample") %></h1>
<p>
  This is the home page for the
  <%= link_to("http://www.railstutorial.org/") do %>
    >Ruby on Rails Tutorial
  <% end %>
  sample application.
</p>
